option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:ekyL+QZLkDkzB6I50X5FcL/Luj4vvF+ceCTtqIMLgTM=
    DB_DATABASE: testdb
    DB_USERNAME: testdb
    DB_PASSWORD: {DBPASS}
    AWS_S3_KEY: {AWSKEY}
    AWS_S3_SECRET: {AWSSECRET}
    AWS_S3_REGION: us-east-1
    AWS_S3_BUCKET: eb-example
    AWS_SQS_KEY: {AWSKEY}
    AWS_SQS_SECRET: {AWSSECRET}
    AWS_SQS_PREFIX: https://sqs.us-east-1.amazonaws.com/{ID}
    AWS_SQS_QUEUE: {QUEUE}
    AWS_SQS_REGION: us-east-1
